.container{
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.balloon{
    height: 60px;
    width: 60px;
    border: 1px dashed red;
    flex-grow: 1;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.balloon.popped{
    visibility: hidden;
}

.balloon:after{
    position: absolute;
    background: inherit;
    bottom: -5px;
    left: 35px;
    display: block;
    content: '';
    height: 10px;
    width: 3px;
    border-radius: 100%;
    border: 1px solid;
}

.balloon:hover{animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;}
.balloon.popped{visibility: hidden;}
.balloon.popped:after{visibility: hidden;}
